{% extends "layout.html" %}
{% block content %}
<div class="all">

    <div class="me">
        <h1>Jason's Site</h1>
        <h3>Quotes I Like</h3>
        {% for quote in quotes %}
        <p>{{ quote.content }} - <b>{{ quote.author }}</b></p>
        {% endfor %}
    </div>

    <div class="interests">
        <h2>My Basic Interests</h2>
        <ul>
            <li><a href="https://antiochian.org">Eastern Orthodoxy</a></li>
            <li>Technology and Programming</li>
            <li>Privacy and Security</li>
            <li>Gaming and Emulation</li>
            <li>Food and Culture</li>
        </ul>
        <h2>My Book List</h2>
        <ul>
            {% for book in books %}
            <li><a href={{ book.link }}>{{ book.name }} - {{ book.author }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="mywork">
        <h2>Personal "Projects"</h2>
        <ul>
            <li>(<b>Coming Soon!</b>) Collaborating with my father to write a scraper to perfom automated analysis of player/team statistsics for fantasy football</li>
            <li>A program to approximate state and federal income taxes for Idaho residents based on a user's Salary</li>
            <li>A script to access daily Orthodox Bible readings, fast details, and daily saints
            <li>Two webscrapers (<i>zillow and apartments.com</i>) to find available rentals in San Diego County and output csv files for each city</li>
            <li>A script to send an input string to elevenlabs.io's free sample voice api and save the resulting file</li>
            <li>An interactive webscraper for Indeed.com job postings. Simply run the script, enter the title and location when prompted, and it will generate a csv file containing what it finds!</li>
            <li>A script to monitor and adjust prices of items I sell on warframe.market to constantly meet fluctuating market values</li>
        </ul>
    </div>

    <div class="games">
        <h3>Some of my Favorite Games</h3>
        <ul>
            {% for game in games %}
            <li>{{ game.title }}, (<b>{{ game.platform }}</b>)</li>
            {% endfor %}
        </ul>
    </div>

    <div class="articles">
        <h2>Ideas for Articles</h2>
        <ul>
            {% for article in articles %}
            <li>{{ article }}</li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock content %}
